---
---

#window-about {    
    .pane {
        display: flex;
        background: var(--color-pane);
        padding: 20px;
    }

    #avatar {
        width: 100px;
        height: 100px;
    }

    #username {
        margin-left: 20px;
        font-size: 2em;
        font-weight: bolder;
    }

    #intro {
        margin-left: 20px;
    }
}
