:root {
    --color-container: #FFF;
    --color-shadow: rgba(0, 0, 0, 0.7);
    --corner-radius-big: 35px;
    --corner-radius-small: 20px;
    --margin: 15px;
    --product-card-width: 250px;
}

body {
    padding: 0 0 0 0;
    font-family: DM Serif Display, sans-serif, sans;
}

.container {
    position: relative;
    margin: var(--margin);
    border-radius: var(--corner-radius-big);
    padding: var(--margin);
    background-color: var(--color-container);
}

.rounded-shadow:after {
    content: "";
    background-color: var(--color-shadow);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0px;
    top: 0px;
    border-radius: var(--corner-radius-big);
    filter: blur(10px);
}

.clamped {
    max-width: 1000px;
}

.horizontally-centered {
    margin-left: auto;
    margin-right: auto;
}

.content-width {
    width: fit-content;
}

.top-level-card {
    width: calc(100% - var(--margin) * 4);
    max-width: 800px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

.product-carousel {
    display: flex;
    flex-direction: row;
}

.product-carousel > .card {
    width: var(--product-card-width);
}

.product-carousel > .card > .icon-frame {
    width: calc(var(--product-card-width));
    height: calc(var(--product-card-width));
    overflow: hidden;
    border-radius: var(--corner-radius-small);
    margin-bottom: var(--margin);
}

.product-carousel > .card > .icon-frame > .icon {
    width: 100%;
    height: 100%;
}

.product-carousel > .card > .name {
    font-size: large;
    font-weight: bold;
    margin-bottom: var(--margin);
}