---
---

:root {
    --window-frame-color1: #081BCB;
    --window-frame-color2: #4977B4;
    --window-frame-color3: #0062EA;
    --window-frame-color4: #14A5F4;
    --window-frame-color5: #8EB6D9;
    --window-frame-color6: #5DB3FF;
    --start-button-color1: #008D00;
    --start-button-color2: #31A431;
    --start-button-color3: #5EDB5E;

    --color-pane: #E6EAD8;

    --wallpaper: url("/assets/wallpaper/coffee-tile.png");
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: var(--wallpaper);
    font-family: "XP Tahoma", sans-serif;
    font-size: 20px;
}

.taskbar {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    overflow: hidden;
    background:
        linear-gradient(to top, rgba(50, 50, 50, 0.5) 5%, transparent 15%, transparent),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 5%, transparent 15%, transparent),
        linear-gradient(to left, var(--window-frame-color3));

    .controls {
        width: 100%;
        height: 100%;
        max-width: 800px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        .start-button {
            position: relative;
            height: calc(100% + 2px);
            border-radius: 50vh;
            background: var(--start-button-color3);
            border: none;
            display: flex;
            align-items: center;
            padding: 7px;
            margin-right: 7px;
            border-radius: 50vh;
            overflow: hidden;
            box-shadow: 
                inset 0 0 10px #0008, 
                1px 0 2px rgba(255, 255, 255, 0.5),
                -1px 0 2px rgba(255, 255, 255, 0.5),
            ;

            @media (max-width: 800px){
                border-radius: 0 50vh 50vh 0;
            }

            .icon {
                width: 25px;
                height: 25px;
            }

            .title {
                color: white;
                text-shadow: 1px 1px black;
                font-weight: bold;
                font-size: 1.25em;
                margin-left: 7px;
                margin-right: 10px;
            }
        }

        .program {
            position: relative;
            display: flex;
            height: 70%;
            min-width: 100px;
            border-radius: 3px;
            align-items: center;
            color: white;
            font-size: 1em;
            font-weight: 100;
            padding: 0px 5px 0 5px;
            background: var(--window-frame-color4);
            box-shadow:
                inset 1px 1px 3px rgba(255, 255, 255, 0.5),
                inset -1px -1px 3px rgba(50, 50, 50, 0.5),
                1px 1px 3px rgba(0, 0, 0, 0.2)
            ;
            margin-right: 3px;
            
            &.selected {
                background: linear-gradient(rgba(0, 0, 0, 0.05)), linear-gradient(var(--window-frame-color3));
                box-shadow:
                    inset 1px 1px 3px rgba(0, 0, 0, 0.5),
                    inset -1px -1px 3px rgba(0, 0, 0, 0.5),
                    1px 1px 3px rgba(255, 255, 255, 0.2)
                ;
            }

            .icon {
                display: inline-block;
                height: 20px;
                margin-right: 5px;
            }
        }
    }
}

.center-column {
    margin-left: calc(50% - 350px);
    width: 700px
}

.window {
    display: inline-block;
    background: linear-gradient(to top left, var(--window-frame-color1), transparent),
                linear-gradient(to top right, var(--window-frame-color2), transparent),
                linear-gradient(to bottom left, var(--window-frame-color3), transparent),
                linear-gradient(to bottom right, var(--window-frame-color4), transparent);
    border-radius: 7px 7px 0 0;
    border: 1px solid var(--window-frame-color1);
    padding: 3px;

    .header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 25px;
        padding-bottom: 3px;
        color: white;

        .icon {
            width: 17px;
            height: 17px;
            margin-left: 3px;
            margin-right: 5px;
        }

        .title {
            font-size: 17px;
            font-weight: bold;
            text-shadow: 1px 1px black;
        }
    }

    .content {
        display: inline-block;
        width: 100%;
        height: calc(100% - 25px - 3px);
        background: white;
    }
}

