:root {
    --color-darker: #2C3333;
    --color-dark: #2E4F4F;
    --color-light: #0E8388;
    --color-lighter: #CBE4DE;
    --corner-radius-big: 45px;
    --corner-radius-small: 20px;
}

body {
    background-color: var(--color-background);
    font-family: Acme, sans-serif, sans;
}

.container {
    margin: 20px;
    border-radius: var(--corner-radius-big);
    background-color: #000;
}

.clamped {
    max-width: 1000px;
}

.horizontally-centered {
    margin-left: auto;
    margin-right: auto;
}
