---
---

:root {
    --color-container: #FFF;
    --color-shadow: rgba(0, 0, 0, 0.7);
    --color-on-secondary: #FFF;
    --color-badge: #949494;

    --corner-radius-big: 35px;
    --corner-radius-small: 20px;

    --margin: 15px;

    --product-card-width: 250px;
    --button-icon-size: 25px;

    --source-badge-padding: 5px;
    --source-badge-margin: 10px;
}

body {
    padding: 0;
    font-family: DM Serif Display, sans-serif, sans;
    overflow-x: hidden;
}

.container {
    position: relative;
    margin: var(--margin);
    border-radius: var(--corner-radius-big);
    padding: var(--margin);
    background-color: var(--color-container);
}

.rounded-shadow {

    &:after {
        content: "";
        background-color: var(--color-shadow);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        border-radius: var(--corner-radius-big);
        filter: blur(10px);
        transition: filter .1s ease;
    }

    &.hover-reactive:active::after {
        filter: blur(4px) !important;
    }

}


@media (any-hover: hover) {

    .rounded-shadow.hover-reactive:hover:after {
        filter: blur(7px);
    }

}

.clamped {
    max-width: 1000px;
}

.horizontally-centered {
    margin-left: auto;
    margin-right: auto;
}

.content-width {
    width: fit-content;
}

.top-level-card {
    width: calc(100% - var(--margin) * 4);
    max-width: 800px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

.carousel {
    width: 100%;
    overflow: hidden;

    .header {
        display: flex;
        flex-direction: row;
        margin-top: var(--margin);
        padding-top: var(--margin);
        padding-bottom: var(--margin);
        vertical-align: middle;
    }

    .header h1 {
        margin-top: auto;
        margin-bottom: auto;
    }

    .arrow {
        position: relative;
        width: calc(var(--margin) + var(--button-icon-size));
        min-width: calc(var(--margin) + var(--button-icon-size));
        height: calc(var(--margin) + var(--button-icon-size));
        background: var(--color-container);
        border: none;
        border-radius: 50%;
        margin-right: var(--margin);
        padding: 0;
    }

    .arrow > img {
        width: 100%;
        height: 100%;
        filter: invert(100%);
        align-self: center;
    }

    #carousel-pane {
        position: relative;
        display: flex;
        flex-direction: row;
        left: calc(var(--margin) * -1);
        transition: transform .3s ease;
        transform: translateX(0);

        .card {
            width: var(--product-card-width);
            max-width: calc(100% - var(--margin) * 2);
            display: flex;
            flex-direction: column;

            .icon-frame {
                width: calc(var(--product-card-width));

                max-width: calc(100%);
                aspect-ratio: 1 / 1;
                overflow: hidden;
                border-radius: var(--corner-radius-small);
                margin-bottom: var(--margin);
            }

            .icon-frame .icon {
                width: 100%;
                height: 100%;
            }

            .name {
                font-size: large;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .button {
                margin-top: auto;
            }

            #icon-container {
                display: flex;
                flex-direction: row;
                margin-top: auto;

                .source-badge {
                    margin-right: var(--source-badge-margin);
                }

            }

        }

    }

}

.badge {
    border-radius: calc(var(--corner-radius-small) / 2);
    background-color: var(--color-shadow);
    padding: calc(var(--margin) / 2);
    margin: auto var(--margin);
    color: var(--color-container);
}

@media screen and (max-width: 405px) {

    .carousel .badge span{
        display: none;
    }

}

.button {
    border-radius: var(--corner-radius-small);
    color: var(--color-on-secondary);
    padding: var(--margin);
    display: flex;
    flex-direction: row;
    font-size: calc(var(--button-icon-size) / 1.2);
    text-decoration: none;

    img {
        width: var(--button-icon-size);
        height: var(--button-icon-size);
        margin-inline-end: var(--margin);
    }

    .navigation-icon {
        margin-inline-start: auto;
        margin-inline-end: 0;
    }

}

.source-badge {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    border-radius: 50%;
    padding: var(--source-badge-padding);

    img {
        width: 100%;
        height: 100%;
    }

}

.button.github,
.source-badge[data-type="github"] {
    background-color: #24292F;
}

.button.itch,
.source-badge[data-type="itch"] {
    background-color: #FA5C5C;
}

.button.google-play {
    background-color: #059B70;
}

.button.download,
.source-badge[data-type="download"] {
    background-color: #00AAD5;
}

.button.documentation,
.source-badge[data-type="documentation"] {
    background-color: #3F627F;
}
