---
---

<!DOCTYPE HTML>
<html dir="ltr" lang="en">

    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="/assets/profile-pic.png"/>
        <title>Smooth E</title>

        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/contribution-chart.css"/>
        <link rel="stylesheet"
              type="text/html"
              href="https://fonts.googleapis.com/css?family=dm+serif+display&display=swap"
        />

        <script type="text/javascript" src="/assets/js/products-carousel.js" defer></script>
    </head>

    <body>

        <div class="horizontally-centered container content-width rounded-shadow top-level-card" id="intro">
            <div id="profile-picture-frame">
                <img id="profile-picture" src="assets/profile-pic.png"/>
            </div>
            <div id="profile-picture-shadow" class="rounded-shadow"></div>
            <h1 id="profile-name">Smooth E</h1>

            <script src="/assets/js/github-calendar.js"></script>
            <div class="contribution-graph">
                Loading the data just for you.
            </div>
            <script type="module">
                GitHubCalendar(".contribution-graph", "smooth-e", { responsive: true });
            </script>

        </div>

        <div class="carousel">

            <div class="header horizontally-centered top-level-card">
                <button id="arrow-left" class="arrow rounded-shadow hover-reactive">
                    <img src="/assets/navigation-left.png" alt="Arrow Left"/>
                </button>
                <button id="arrow-right" class="arrow rounded-shadow hover-reactive">
                    <img src="/assets/navigation-right.png" alt="Arrow Right"/>
                </button>
                <h1>Products</h1>
                <div class="badge">
                    {{ site.products.size }}<span> in total</span>
                </div>
            </div>

            <div id="carousel-pane"
                 class="horizontally-centered top-level-card"
                 data-current-entry="0"
                 data-entry-count="{{ site.products.size }}"
            >

                {% assign sorted_products = site.products |  sort: "latest_release" %}
                {% for product in sorted_products reversed %}
                    <div class="card rounded-shadow hover-reactive container">
                        <div class="icon-frame">
                            <img class="icon" src="{{ product.icon }}" alt="Product Icon"/>
                        </div>
                        <div class="name">{{ product.name }}</div>
                        <div class="description">{{ product.description | markdownify }}</div>
                        <div id="icon-container">
                            {% for source in product.sources %}
                                {% assign splitted_source = source |  split: " | " %}
                                {% assign type = splitted_source.first | strip %}
                                {% assign slugged_name = type | downcase | slugify: "pretty" %}
                                <div class="source-badge" data-type="{{ slugged_name }}">
                                    <img src="{{ "/assets/icon-" |  append: slugged_name |  append: ".png" }}"
                                         alt="{{ slugged_name }}"
                                    />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>

    </body>

</html>
