<div class="footer pane">
    <div id="copyright">© 2025 Smooth-E</div>
    <div id="buttons">
        <a class="with-icon" href="/index.html">
            <img src="/assets/icons/home-48.png"/>
            Home
        </a>
        <a class="with-icon" href="https://boosty.to/smooth-e/donate">
            <img src="/assets/icons/star-48.png"/>
            Donate
        </a>
        <a class="with-icon" href="javascript:window.scrollTo({ top: 0, left: 0, behavior: 'smooth' })">
            <img src="/assets/icons/arrow-up-48.png"/>
            Scroll up!
        </a>
    </div>
</div>
