---
---

{% assign app_assets = "/assets/mobile/" | append: page.slug %}
{% assign app_icon = app_assets | append: "/icon.png" %}

<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="{{ app_icon }}"/>
        <title>{{ page.title }}</title>

        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/mobile-app.css"/>

        <style>
            :root {
                --app-color-light: #{{ page.color_light }};
                --app-color-dark: #{{ page.color_dark }};
            }
        </style>
    </head>
    <body>
        <div class="taskbar">
            <div class="controls">
                <button class="start-button">
                    <img class="icon" src="/assets/icons/around-planet.png"/>
                    <span class="title">Explore</span>
                </button>
                <a class="program" href="/mobile.html">
                    <img class="icon" src="/assets/icons/phone-green-48.png"/>
                    Mobile Apps
                </a>
                <a class="program selected">
                    <img class="icon" src="{{ app_icon }}"/>
                    {{ page.title }}
                </a>
            </div>
        </div>

        <div class="center-column">
            <div class="window" id="main-window">
                <div class="header">
                    <img class="icon" src="/assets/icons/phone-green-48.png"/>
                    <span class="title">Mobile App - {{ page.title }}</span>
                </div>
                <div class="content">
                    <div id="intro">
                        <img id="icon" src="{{ app_icon }}"/>
                        <div id="data">
                            <span id="name">{{ page.title }}</span>
                            <span id="description">{{ page.description }}</span>
                            <div id="buttons">
                                {% if page.source_code %}
                                    <a class="hero-button source-code" href="{{ page.source_code }}" target="_blank" rel="noreferrer noopener">
                                        <img src="/assets/icons/cab-48.png"/>
                                        <span>View source code</span>
                                    </a>
                                {% endif %}
                                {% if page.download %}
                                    <a class="hero-button download" href="{{ page.download }}" target="_blank" rel="noreferrer noopener">
                                        <img src="/assets/icons/package-48.png"/>
                                        <span>Download</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="intro-underline"></div>
                    <div id="screenshots-section">
                        <h1 class="h-padding">Screenshots</h1>
                        <div class="h-padding" id="screenshots-pane">
                            {% for screenshot in page.screenshots %}
                                {% assign screenshot_src = app_assets | append: "/" | append: screenshot %}
                                <div class="screenshot">
                                    <img class="content" src="{{ screenshot_src }}"/>
                                    <div class="name">
                                        <img src="/assets/icons/image-file-48.png"/>
                                        <div>{{ screenshot }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="intro-underline"></div>
                    <div id="content">
                        <h1>Description</h1>
                        {{ page.content }}
                    </div>
                    <div id="footer" class="pane">
                        <div id="left">
                            <span id="thing">This is a footer. Don't you too think it's kinda unnecessary?</span>
                            <span id="copyright">© 2025 Smooth-E</span>
                        </div>
                        <a id="go-up" class="button" href="javascript:window.scrollTo({ top: 0, left: 0, behavior: 'smooth' })">
                            <img src="/assets/icons/arrow-up-48.png"/>
                            <span>Scroll up!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
